.bg-img {
    background-image: url("./images/home/Map.png");
}

@media screen and (min-width: 640px) {
    .bg-img {
        background-image: url("./images/home/Map.png");
        background-position-x: right;
        background-repeat: no-repeat;
    }       
}